@font-face {
    font-family: 'Gotham';
    src: url('fonts/subset-Gotham-Medium.woff2') format('woff2'),
        url('fonts/subset-Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/subset-Gotham-Light.woff2') format('woff2'),
        url('fonts/subset-Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('fonts/subset-Gotham-Book.woff2') format('woff2'),
        url('fonts/subset-Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/subset-Gotham-Thin.woff2') format('woff2'),
        url('fonts/subset-Gotham-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url('fonts/subset-Gotham-Ultra.woff2') format('woff2'),
        url('fonts/subset-Gotham-Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



* {
    margin: 0;
    padding: 0;
}

*,
*::before
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: Gotham, sans-serif;
    font-weight: 300;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

.main-section {

    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: linear-gradient(to right, rgba(226, 220, 195, 1), rgba(255, 255, 255, .4)), url("./img/bg_photo.jpeg");
    background-size: cover;
    
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, 20%); 
}

.logo {

width: 45rem;
height: 13rem;
grid-column: 2 / span1;
grid-row: 3 / 3;
margin-left: 10rem;

}

.information {

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-right: 1px solid #9F9F9F;
    height: 80vh;
    width: 90%;
    margin: auto;

    grid-row: 1 / span4;
    padding-left: 2rem;
    padding-right: 3rem;

}

.description {


    font-family: Gotham, sans-serif;
    font-weight: 300;
    font-size: 5rem;


}

.info-address {

    display: flex;
    padding-left: 3rem;
    align-items: center;
    align-content: space-between;
}

.info-phone {

    display: flex;
    padding-left: 3rem;
    align-items: center;
    align-content: space-between;

}

.info-mail {

    display: flex;
    padding-left: 3rem;
    align-items: center;
    align-content: space-between;
}

.icon {

    width: 7rem;
    height: 7rem;
    margin-right: 2rem;

}

.info-text {
    font-size: 3.3rem;
    line-height: 1.2;
    font-family: Gotham, sans-serif;
    font-weight: 300;
}